:root {
  --color-black: #000000;
  --color-navy: #20113d;
  --color-white: #ffffff;
  --color-orange: #f58021;
  --color-turquoise: #00a092;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* UTILITY CLASSES */

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.btn div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-orange {
  width: 24rem;
  height: 7.4rem;
  background-color: var(--color-orange);
}

.btn-orange:hover {
  background-color: #d26004;
}

.btn-turquoise {
  width: 35.9rem;
  height: 7.4rem;
  background-color: var(--color-turquoise);
}

.btn-turquoise:hover {
  background-color: #05786e;
}

.btn-donation {
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 10px;
  width: 32rem;
  height: 7.4rem;
  justify-content: space-between;
  background: transparent;
  border: var(--color-white) solid 1px;
  border-radius: 5px;
  position: relative;
}

.btn-donation div {
  width: 8rem;
  height: 100%;
  background-color: var(--color-orange);
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.btn-donation:hover div {
  background-color: #d26004;
}

/* //////////////////////// */

.menu-button {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  background-color: var(--color-black);
  width: 30px;
  height: 3px;
  position: absolute;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
}

.menu-icon::before {
  transform: translate(-50%, -12px);
}

.menu-icon::after {
  transform: translate(-50%, 12px);
}

.header {
  background-color: var(--color-orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 32px;
  position: relative;
}

.nav {
  background-color: var(--color-navy);
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  height: 600px;
  z-index: 1;
  padding: 150px 95px;
}

.cross-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.cross-icon::after,
.cross-icon::before {
  background-color: var(--color-white);
}
.cross-icon {
  background-color: transparent;
}

.cross-icon::before {
  transform: translateX(-15px) rotate(45deg);
}

.cross-icon::after {
  transform: translateX(-15px) rotate(-45deg);
}

.nav__list {
  list-style: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0%;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.logo {
  width: 96px;
}

.logo img {
  width: 100%;
}

.hero {
  padding: 0px 18px;
  position: relative;
  padding-bottom: 40px;
}

.hero__title {
  margin-top: 30px;
  font-size: 72px;
  line-height: 100%;
  font-weight: 800;
  letter-spacing: 1%;
  color: var(--color-turquoise);
  text-transform: uppercase;
}

.hero__text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400px;
  line-height: 150%;
  letter-spacing: 0%;
  color: var(--color-black);
}

.hero__btn {
  margin-top: 20px;
}

.hero__panda {
  height: 387px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)),
    url(../../assets/images/hero-panda.png);
  background-position: bottom left;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
}
